.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
    text-align:center;  /*for sideNav fullscreen only(script3.js)*/
}

a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
   
}

a:hover{
    color: #f1f1f1;
}

.closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size:36px ;
    margin-left: 50px;
}

#main{
    transition: margin-left .5s;
    padding: 20px;
} 

button{
   
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
   
    border: none;
   
}

@media screen and (max-height:450px){
    .sidenav{padding-top: 15px;}
    a{font-size:18px;}
}

p{
    background-color: rgb(126, 194, 113);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 4px;
    padding-left: 20px;
}